@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fira: var(--font-fira-sans);
  --font-dancing: var(--font-dancing-script);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #FFFFFF;
  }
}

body {
  background:
    /* radial-gradient(
      circle at top,
      rgba(87, 15, 68, 0.2) 10%,
      transparent 40%
    ),
    radial-gradient(
      circle at left,
       rgba(79, 10, 10, 0.2) 10%,
      transparent 35%
    ),
    radial-gradient(
      circle at right,
       rgba(189, 35, 35, 0.20) 10%,
      transparent 35%
    ),
    radial-gradient(
      circle at bottom,
       rgba(189, 35, 35, 0.20) 10%,
      transparent 40%

    ) */
    var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
